<mat-dialog-title *transloco="let t" class="flex bg-principal-0 w-full flex-wrap justify-center">
  <div class="w-full flex py-4 px-2">
      <span class="w-full flex justify-start text-red-400 leading-5 text-lg pl-3 font-bold">
        {{ t(title) }}
      </span>
  </div>
  <mat-divider class="w-full"></mat-divider>
</mat-dialog-title>


<mat-dialog-content *transloco="let t" class="flex flex-col bg-principal-0 w-full">
  <form [formGroup]="formGroup" class="w-full">

    <div class="flex w-full flex-wrap px-2 flex-col md:flex-row">
      <!-- name -->
      <mat-form-field class="w-full md:w-1/2 md:pr-3" appearance="outline">
        <mat-label class="text-principal-200 text-sm sm:text-base">{{ t('lbl.product.name') }}
        </mat-label>
        <input maxlength="31" class="text-principal-200" id="name" matInput type="text" [formControlName]="'name'">
        <mat-error class="-mt-1" *ngIf="!formGroup.controls.name.value">
          {{ t('msg.validator.fieldRequired') }}
        </mat-error>
        <mat-error class="-mt-1" *ngIf="formGroup.get('name').errors?.maxlength">
          {{ t('msg.validator.maxLength') }}
        </mat-error>
        <mat-error class="-mt-1" *ngIf="formGroup.get('name').errors?.minlength">
          {{ t('msg.validator.min2Length') }}
        </mat-error>
      </mat-form-field>

      <!-- description -->
      <mat-form-field class="w-full md:w-1/2" appearance="outline">
        <mat-label class="text-principal-200 text-sm sm:text-base">{{ t('lbl.product.description') }}
        </mat-label>
        <input maxlength="61" class="text-principal-200" id="description" matInput type="text"
          [formControlName]="'description'">
        <mat-error class="-mt-1" *ngIf="!formGroup.controls.description.value">
          {{ t('msg.validator.fieldRequired') }}
        </mat-error>
        <mat-error class="-mt-1" *ngIf="formGroup.get('description').errors?.maxlength">
          {{ t('msg.validator.maxLength') }}
        </mat-error>
        <mat-error class="-mt-1" *ngIf="formGroup.get('description').errors?.minlength">
          {{ t('msg.validator.minLength') }}
        </mat-error>
      </mat-form-field>
    </div>


    <div class="flex w-full flex-wrap px-2 flex-col md:flex-row">
      <!-- price -->
      <mat-form-field class="w-full md:w-1/2 md:pr-3" appearance="outline">
        <mat-label class="text-principal-200 text-sm sm:text-base">{{ t('lbl.product.price') }}</mat-label>
        <input maxlength="11" class="text-principal-200" id="price" matInput type="number" [formControlName]="'price'">
        <mat-error class="-mt-1" *ngIf="!formGroup.controls.price.value">
          {{ t('msg.validator.userRequired') }}
        </mat-error>
        <mat-error class="-mt-1" *ngIf="formGroup.get('price').errors?.maxlength">
          {{ t('msg.validator.maxLength') }}
        </mat-error>
        <mat-error class="-mt-1" *ngIf="formGroup.get('price').errors?.minlength">
          {{ t('msg.validator.min1Length') }}
        </mat-error>
      </mat-form-field>

      <!-- quantity -->
      <mat-form-field class="w-full md:w-1/2 md:pr-3" appearance="outline">
        <mat-label class="text-principal-200 text-sm sm:text-base">{{ t('lbl.product.quantity') }}</mat-label>
        <input maxlength="11" class="text-principal-200" id="quantity" matInput type="number"
          [formControlName]="'quantity'">
        <mat-error class="-mt-1" *ngIf="!formGroup.controls.quantity.value">
          {{ t('msg.validator.userRequired') }}
        </mat-error>
        <mat-error class="-mt-1" *ngIf="formGroup.get('quantity').errors?.maxlength">
          {{ t('msg.validator.maxLength') }}
        </mat-error>
        <mat-error class="-mt-1" *ngIf="formGroup.get('quantity').errors?.minlength">
          {{ t('msg.validator.min1Length') }}
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

