<mat-dialog-title *transloco="let t" class="flex bg-principal-0 w-full flex-wrap justify-center">
  <img [src]="data?.success ? 'https://cdn-icons-png.flaticon.com/512/5147/5147892.png' : 'https://cdn-icons-png.freepik.com/256/6013/6013702.png?semt=ais_hybrid'" alt="Preview"
    class="mx-auto mt-6 w-24">
  <div class="w-full flex p-2">
    <span class="w-full block justify-center text-center text-principal-100 leading-5 pt-2 px-4 text-lg">
      {{ data.message }}
    </span>
  </div>
</mat-dialog-title>

<mat-dialog-actions *transloco="let t" class="flex bg-principal-0">
  <div [ngClass]="{'justify-center flex': !data.cancelOption }" class="w-full">
    <button [ngClass]="{'hidden': !data.cancelOption }" (click)="onCancelClick()"
      class="bg-gradient-to-r from-orange-400/90 to-red-400/80 text-white p-2 m-2.5 rounded-full shadow-md w-30 min-w-26">
      {{ t('lbl.button.cancel') }}
    </button>
  
    <button *ngIf="data?.acceptOption" (click)="onAcceptClick()"
      class="bg-gradient-to-r from-blue-400/90 to-green-400/80 text-white p-2 m-2.5 rounded-full shadow-md w-30 min-w-26">
      {{ data.acceptOption }}
    </button>

  </div>
</mat-dialog-actions>